2024-08-05


[경기도에 위치한 식품창고 목록 출력하기](https://school.programmers.co.kr/learn/courses/30/lessons/131114)


```SQL
SELECT WAREHOUSE_ID, WAREHOUSE_NAME, ADDRESS, IF(FREEZER_YN IS NULL, "N", FREEZER_YN)
FROM FOOD_WAREHOUSE
WHERE WAREHOUSE_NAME LIKE "%경기%"
ORDER BY WAREHOUSE_ID;
```

[이름이 없는 동물의 아이디](https://school.programmers.co.kr/learn/courses/30/lessons/59039)


```SQL
SELECT ANIMAL_ID
FROM ANIMAL_INS
WHERE NAME IS NULL
ORDER BY ANIMAL_ID;
```

[이름이 있는 동물의 아이디](https://school.programmers.co.kr/learn/courses/30/lessons/59407)


```SQL
-- 오답
SELECT ANIMAL_TYPE,	IF(NAME IS NULL, "NO name", NAME) NAME	, SEX_UPON_INTAKE
FROM ANIMAL_INS
ORDER BY ANIMAL_ID;
```



```SQL
-- 성공
SELECT ANIMAL_TYPE, IFNULL(NAME, 'No name'), SEX_UPON_INTAKE
FROM ANIMAL_INS
ORDER BY ANIMAL_ID;
```

[나이 정보가 없는 회원 수 구하기](https://school.programmers.co.kr/learn/courses/30/lessons/131528)

```SQL
-- 성공
SELECT COUNT(USER_ID) USERS
FROM USER_INFO
WHERE AGE IS NULL;
```