2024-07-30

[평균 일일 대여 요금 구하기 ](https://school.programmers.co.kr/learn/courses/30/lessons/151136)

```SQL
SELECT ROUND(AVG(DAILY_FEE)) AVERAGE_FEE 
FROM CAR_RENTAL_COMPANY_CAR 
WHERE CAR_TYPE like "SUV"
```

<br>

[재구매가 일어난 상품과 회원 리스트 구하기](https://school.programmers.co.kr/learn/courses/30/lessons/131536)

COUNT(컬럼) - NULL 값이 들어간 행은 카운트하지 않습니다.

COUNT(*) - NULL 값에 상관없이 모든 행을 카운트합니다.

두 함수 모두 테이블의 행 수를 세는 데 사용


```SQL
SELECT USER_ID, PRODUCT_ID
FROM ONLINE_SALE 
GROUP BY USER_ID, PRODUCT_ID
HAVING COUNT(*) >= 2
ORDER BY USER_ID ASC, PRODUCT_ID DESC;
```

<br>


[역순 정렬하기](https://school.programmers.co.kr/learn/courses/30/lessons/59035)

```SQL
-- 코드를 입력하세요
SELECT NAME, DATETIME
FROM ANIMAL_INS 
ORDER BY ANIMAL_ID DESC;
```

<br>

[아픈 동물 찾기](https://school.programmers.co.kr/learn/courses/30/lessons/59036)

```SQL
SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS
WHERE INTAKE_CONDITION = 'Sick'
ORDER BY ANIMAL_ID;
```

<br>

[어린 동물 찾기](https://school.programmers.co.kr/learn/courses/30/lessons/59037)

```SQL
SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS
WHERE INTAKE_CONDITION != 'Aged'
ORDER BY ANIMAL_ID;
```

<br>

[동물의 아이디와 이름](https://school.programmers.co.kr/learn/courses/30/lessons/59403)

```SQL
SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS
ORDER BY ANIMAL_ID;
```

<br>

[여러 기준으로 정렬하기](https://school.programmers.co.kr/learn/courses/30/lessons/59404)

```SQL
SELECT ANIMAL_ID, NAME, DATETIME
FROM ANIMAL_INS
ORDER BY NAME, DATETIME DESC;
```

<br>

[상위 n개 레코드](https://school.programmers.co.kr/learn/courses/30/lessons/59405)

```SQL
SELECT Name
FROM ANIMAL_INS
ORDER BY DATETIME
LIMIT 1;
```

<br>

[조건에 맞는 회원수 구하기](https://school.programmers.co.kr/learn/courses/30/lessons/131535)

```SQL
SELECT COUNT(*)
FROM USER_INFO 
WHERE YEAR(JOINED) = 2021 AND AGE BETWEEN 20 AND 29;
```

2024-07-31

[흉부외과 또는 일반외과 의사 목록 출력하기](https://school.programmers.co.kr/learn/courses/30/lessons/132203)


```SQL
SELECT DR_NAME, DR_ID, MCDP_CD, DATE_FORMAT(HIRE_YMD, '%Y-%m-%d') HIRE_YMD
FROM DOCTOR 
WHERE MCDP_CD in ('CS' , 'GS')
ORDER BY HIRE_YMD DESC, DR_NAME;
```
<br>


[과일로 만든 아이스크림 고르기](https://school.programmers.co.kr/learn/courses/30/lessons/133025)

```SQL
SELECT FLAVOR
FROM FIRST_HALF
WHERE TOTAL_ORDER > 3000 AND FLAVOR in 
(SELECT FLAVOR
FROM ICECREAM_INFO 
WHERE INGREDIENT_TYPE = 'fruit_based')
ORDER BY TOTAL_ORDER DESC

-- JOIN
SELECT FH.FLAVOR
FROM FIRST_HALF FH
INNER JOIN ICECREAM_INFO II
ON FH.FLAVOR = II.FLAVOR
WHERE FH.TOTAL_ORDER > 3000
AND II.INGREDIENT_TYPE = 'fruit_based'
ORDER BY FH.TOTAL_ORDER DESC;

```
<br>


[3월에 태어난 여성 회원 목록 출력하기](https://school.programmers.co.kr/learn/courses/30/lessons/131120)

```SQL
SELECT RI.REST_ID, RI.REST_NAME, RI.FOOD_TYPE, RI.FAVORITES, RI.ADDRESS, RR.REVIEW_SCORE 
FROM REST_INFO RI
INNER JOIN (SELECT REST_ID, ROUND(AVG(REVIEW_SCORE), 2) REVIEW_SCORE
FROM REST_REVIEW 
GROUP BY REST_ID) RR
ON RI.REST_ID = RR.REST_ID
WHERE RI.ADDRESS LIKE "서울%"
ORDER BY RR.REVIEW_SCORE DESC, RI.FAVORITES DESC
```
<br>

2024-08-01

[인기있는 아이스크림](https://school.programmers.co.kr/learn/courses/30/lessons/133024)

```SQL
SELECT DR_NAME, DR_ID, MCDP_CD, DATE_FORMAT(HIRE_YMD, '%Y-%m-%d') HIRE_YMD
FROM DOCTOR 
WHERE MCDP_CD in ('CS' , 'GS')
ORDER BY HIRE_YMD DESC, DR_NAME;
```
<br>

[강원도에 위치한 생산공장 목록 출력하기](https://school.programmers.co.kr/learn/courses/30/lessons/131112)

```SQL
SELECT FACTORY_ID, FACTORY_NAME, ADDRESS
FROM FOOD_FACTORY
WHERE ADDRESS LIKE "강원도%"
ORDER BY FACTORY_ID;
```
<br>

[조건에 맞는 도서 리스트 출력하기](https://school.programmers.co.kr/learn/courses/30/lessons/144853)

```SQL
SELECT BOOK_ID, DATE_FORMAT(PUBLISHED_DATE, "%Y-%m-%d") PUBLISHED_DATE
FROM BOOK
WHERE YEAR(PUBLISHED_DATE) = "2021" AND CATEGORY = "인문"
ORDER BY PUBLISHED_DATE;
```
<br>

[모든 레코드 조회하기](https://school.programmers.co.kr/learn/courses/30/lessons/59034)

```SQL
SELECT * 
FROM ANIMAL_INS
ORDER BY ANIMAL_ID;
```
<br>

[오프라인/온라인 판매 데이터 통합하기](https://school.programmers.co.kr/learn/courses/30/lessons/131537)

<!-- UNION 전에 필터링이 더 효율적 -->


```SQL
SELECT DATE_FORMAT(SALES_DATE, "%Y-%m-%d") SALES_DATE, PRODUCT_ID, USER_ID, SALES_AMOUNT
FROM ONLINE_SALE
WHERE MONTH(SALES_DATE) = 3
UNION
SELECT DATE_FORMAT(SALES_DATE, "%Y-%m-%d") SALES_DATE, PRODUCT_ID, NULL AS USER_ID, SALES_AMOUNT
FROM OFFLINE_SALE
WHERE MONTH(SALES_DATE) = 3
ORDER BY SALES_DATE, PRODUCT_ID, USER_ID;

```

<br>


[Python 개발자 찾기](https://school.programmers.co.kr/learn/courses/30/lessons/276013)

```SQL
SELECT ID, EMAIL, FIRST_NAME, LAST_NAME
FROM DEVELOPER_INFOS
WHERE "Python" in (SKILL_1, SKILL_2, SKILL_3)
ORDER BY ID;
```

<br>


[잔챙이 잡은 수 구하기](https://school.programmers.co.kr/learn/courses/30/lessons/293258)

```SQL
SELECT COUNT(*) FISH_COUNT
FROM FISH_INFO
WHERE COALESCE(LENGTH, 0) <= 10;

SELECT COUNT(*) AS FISH_COUNT
FROM FISH_INFO
WHERE LENGTH IS NULL;
```

[가장 큰 물고기 10마리 구하기](https://school.programmers.co.kr/learn/courses/30/lessons/298517)

```SQL
SELECT ID, LENGTH
FROM FISH_INFO
WHERE LENGTH > 10
ORDER BY LENGTH DESC, ID
LIMIT 10;
```

<br>

[특정 형질을 가지는 대장균 찾기](https://school.programmers.co.kr/learn/courses/30/lessons/301646)

```SQL

-- 실패
SELECT COUNT(*) COUNT
FROM ECOLI_DATA
WHERE SUBSTRING(BIN(genotype), 4, 1) = 1 OR SUBSTRING(BIN(genotype), 2, 1)

-- 비트연산
-- 1 : 0001
-- 3 : 0100
SELECT COUNT(*) AS count
FROM ECOLI_DATA
WHERE (GENOTYPE & 2) = 0
  AND ((GENOTYPE & 1) = 1 OR (GENOTYPE & 4) = 4);

```

In [1]:
# 비트연산
num1 = 8
num2 = 10
print(" "+bin(num1))
print(bin(num2))
print("   0100")
print(num1 & num2)

 0b1000
0b1010
   0100
8

2024-08-02

[업그레이드 된 아이템 구하기](https://school.programmers.co.kr/learn/courses/30/lessons/273711)

```SQL
SELECT ID, LENGTH
FROM FISH_INFO
WHERE LENGTH > 10
ORDER BY LENGTH DESC, ID
LIMIT 10;
```

<br>