2024-07-30

[평균 일일 대여 요금 구하기 ](https://school.programmers.co.kr/learn/courses/30/lessons/151136)

```SQL
SELECT ROUND(AVG(DAILY_FEE)) AVERAGE_FEE 
FROM CAR_RENTAL_COMPANY_CAR 
WHERE CAR_TYPE like "SUV"
```

<br>

[재구매가 일어난 상품과 회원 리스트 구하기](https://school.programmers.co.kr/learn/courses/30/lessons/131536)

COUNT(컬럼) - NULL 값이 들어간 행은 카운트하지 않습니다.

COUNT(*) - NULL 값에 상관없이 모든 행을 카운트합니다.

두 함수 모두 테이블의 행 수를 세는 데 사용


```SQL
SELECT USER_ID, PRODUCT_ID
FROM ONLINE_SALE 
GROUP BY USER_ID, PRODUCT_ID
HAVING COUNT(*) >= 2
ORDER BY USER_ID ASC, PRODUCT_ID DESC;
```

<br>


[역순 정렬하기](https://school.programmers.co.kr/learn/courses/30/lessons/59035)

```SQL
-- 코드를 입력하세요
SELECT NAME, DATETIME
FROM ANIMAL_INS 
ORDER BY ANIMAL_ID DESC;
```

<br>

[아픈 동물 찾기](https://school.programmers.co.kr/learn/courses/30/lessons/59036)

```SQL
SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS
WHERE INTAKE_CONDITION = 'Sick'
ORDER BY ANIMAL_ID;
```

<br>

[어린 동물 찾기](https://school.programmers.co.kr/learn/courses/30/lessons/59037)

```SQL
SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS
WHERE INTAKE_CONDITION != 'Aged'
ORDER BY ANIMAL_ID;
```

<br>

[동물의 아이디와 이름](https://school.programmers.co.kr/learn/courses/30/lessons/59403)

```SQL
SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS
ORDER BY ANIMAL_ID;
```

<br>

[여러 기준으로 정렬하기](https://school.programmers.co.kr/learn/courses/30/lessons/59404)

```SQL
SELECT ANIMAL_ID, NAME, DATETIME
FROM ANIMAL_INS
ORDER BY NAME, DATETIME DESC;
```

<br>

[상위 n개 레코드](https://school.programmers.co.kr/learn/courses/30/lessons/59405)

```SQL
SELECT Name
FROM ANIMAL_INS
ORDER BY DATETIME
LIMIT 1;
```

<br>

[조건에 맞는 회원수 구하기](https://school.programmers.co.kr/learn/courses/30/lessons/131535)

```SQL
SELECT COUNT(*)
FROM USER_INFO 
WHERE YEAR(JOINED) = 2021 AND AGE BETWEEN 20 AND 29;
```

2024-07-31

[흉부외과 또는 일반외과 의사 목록 출력하기](https://school.programmers.co.kr/learn/courses/30/lessons/132203)


```SQL
SELECT DR_NAME, DR_ID, MCDP_CD, DATE_FORMAT(HIRE_YMD, '%Y-%m-%d') HIRE_YMD
FROM DOCTOR 
WHERE MCDP_CD in ('CS' , 'GS')
ORDER BY HIRE_YMD DESC, DR_NAME;
```
<br>


[과일로 만든 아이스크림 고르기](https://school.programmers.co.kr/learn/courses/30/lessons/133025)

```SQL
SELECT FLAVOR
FROM FIRST_HALF
WHERE TOTAL_ORDER > 3000 AND FLAVOR in 
(SELECT FLAVOR
FROM ICECREAM_INFO 
WHERE INGREDIENT_TYPE = 'fruit_based')
ORDER BY TOTAL_ORDER DESC

-- JOIN
SELECT FH.FLAVOR
FROM FIRST_HALF FH
INNER JOIN ICECREAM_INFO II
ON FH.FLAVOR = II.FLAVOR
WHERE FH.TOTAL_ORDER > 3000
AND II.INGREDIENT_TYPE = 'fruit_based'
ORDER BY FH.TOTAL_ORDER DESC;

```
<br>


[3월에 태어난 여성 회원 목록 출력하기](https://school.programmers.co.kr/learn/courses/30/lessons/131120)

```SQL
SELECT MEMBER_ID, MEMBER_NAME, GENDER, DATE_FORMAT(DATE_OF_BIRTH, '%Y-%m-%d') DATE_OF_BIRTH
FROM MEMBER_PROFILE 
WHERE MONTH(DATE_OF_BIRTH) = 3 AND TLNO IS NOT NULL AND GENDER = 'w'
ORDER BY MEMBER_ID
```
<br>